.App {
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: 100%;
  box-sizing: border-box;
}

.controls {
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.Controls-button {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  transition: all 300ms;
  position: relative;
  cursor: pointer;
  color: #3D6AF2;
}

.Controls-button::after,
.Controls-button::before {
  transition: all 300ms;
}

.Controls-button:active {
  color: #F24130;
  background-color: transparent;
}

.Play::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 32px;
  border-top: 16px;
  border-bottom: 16px;
  border-right: 0;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.Pause::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 32px;
  border-left: 11px;
  border-top: 0;
  border-bottom: 0;
  border-right: 11px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.Pause:hover::after {
  border-color: transparent #0540F2;
}

.Stop {
  background-color: #3D6AF2;
}

.Stop:hover {
  background-color: #0540F2;
}

.Stop:active {
  background-color: #F24130;
}

.Clear {
  position: relative;
  transform: rotate(45deg);
}

.Clear:hover {
  color: #0540F2;
}

.Clear::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 11px;
  height: 11px;
  border-right: 10px solid;
  border-bottom: 10px solid;
}

.Clear::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 11px;
  height: 11px;
  border-left: 10px solid;
  border-top: 10px solid;
}

.help {
  margin-top: 16px;
}

/* Color Theme Swatches in Hex */
.Collections-1-hex { color: #0540F2; }
.Collections-2-hex { color: #3D6AF2; }
.Collections-3-hex { color: #02732A; }
.Collections-4-hex { color: #F2E205; }
.Collections-5-hex { color: #F24130; }
