.Step {
    display: table-cell;
    box-sizing: border-box;
    border: 1px solid #eee;
    cursor: pointer;
    height: 32px;
}

.TrackView:first-child .Step-current {
    border-top-color: #F24130;
}

.TrackView:last-child .Step-current {
    border-bottom-color: #F24130;
}

.Step-current {
    border-left-color: #F24130;
    border-right-color: #F24130;
}

.Step-content:hover {
    background-color: #eee;
}

.Step-content {
    height: 100%;
    transition: background-color 50ms;
}

.Step-active {
    background-color: #F2E205;
}

.Step-active:hover {
    background-color: #fff000;
}

.Step-content:active {
    background-color: #F24130;
}
